page-login {
	.bgImg {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		z-index: -1;
		img{
			width: 100%;
			min-height: 100vh;
		}
	}
	.login-page {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		// background: #df6363 url(../assets/imgs/index/login_bg.jpg) center no-repeat; // background: #fdbcbc url(../assets/imgs/login/lg_bg.jpg) center no-repeat;
		background-size: 100% 100vh;
		.sign-box {
			width: 30vw;
			margin: 0 auto;
			margin-top: 20rem;
			color: #fff;
			text-align: center;
			h3 {
				font-size: 3.8rem;
			}
			h4 {
				font-size: 2rem;
			}
			ion-item{
				background: transparent !important;
				margin-top: 2rem;
				color: #fff;
			}
			ion-input {
				// border-bottom: 1px solid #fff;
				color: #fff;
				input {
					font-size: 1.6rem;
				}
				input::-webkit-input-placeholder {
					color: #ccc !important;
				}
				input::-moz-placeholder {
					color: #ccc !important;
				}
				input::-ms-input-placeholder {
					color: #ccc !important;
				}
			}
			.loginbtn {
				margin-top: 4rem;
			}
			.rember{
				padding: 0;
				margin-top: 0;
				font-size: 1.4rem;
			}
			.txtRight{
				text-align: right;
				line-height: 3.2;
			}
		}
	}

	@media screen and (min-width: 1024px) {
		.sign-box{
			width: 20vw !important;
		}
	}
}
